###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
###> docker ###
.docker/php/code-coverage
.docker/mysql/data
.docker/mongo/data
###< code coverage ###

###> IDE ###
.idea
###< IDE ###
